<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>GJS Contatos</title>
	
	<link rel="stylesheet" th:href="@{/css/style.css}" />


</head>

<body>
	<header>
		<nav>
			<ul>
				<li><a th:href="@{/}"> GJS Contatos </a></li>
				<li><a th:href="@{/contatos}"> Listar </a></li>
				<li><a th:href="@{/contatos/novo}"> Novo </a></li>
		</nav>
	</header>
	<main>
		<section>
			<h1>Seha bem vindo(a)! </h1>
		</section>
	</main>
</body>

</html>